<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046781958183-pjdi92u4r05udn0og8f58n6huuu9mh8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046781958183-pjdi92u4r05udn0og8f58n6huuu9mh8k</string>
	<key>API_KEY</key>
	<string>AIzaSyCC5DLE0KjNzS-XjlRvnv7FrwzrF4OaO90</string>
	<key>GCM_SENDER_ID</key>
	<string>1046781958183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jfouladi.Planvy</string>
	<key>PROJECT_ID</key>
	<string>planvy-debe6</string>
	<key>STORAGE_BUCKET</key>
	<string>planvy-debe6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046781958183:ios:15003c3b7130ffac365602</string>
</dict>
</plist>